<mat-card id="card" style="text-align: center; height: auto;">
	<mat-card-title *ngIf="loginPage">
		Login
	</mat-card-title><br/>
	<mat-card-title *ngIf="!loginPage">
		Register
	</mat-card-title><br/>
	<mat-card-content>
	<form [formGroup]="employee">
		<div *ngIf="!loginPage">
		<mat-form-field>
			<mat-label>First Name</mat-label>
			<input matInput formControlName="firstName" placeholder="firstName">
		</mat-form-field><br/>
		<mat-form-field>
			<mat-label>Last Name</mat-label>
			<input matInput formControlName="lastName" placeholder="lastName">
		</mat-form-field><br/>
		<mat-form-field>
			<mat-label>Age</mat-label>
			<input matInput formControlName="age" placeholder="age">
		</mat-form-field><br/>
		<mat-form-field>
			<mat-label>City</mat-label>
			<input matInput formControlName="city" placeholder="city">
		</mat-form-field><br/>
		<mat-form-field>
			<mat-label>Country</mat-label>
			<input matInput formControlName="country" placeholder="country">
		</mat-form-field><br/>
		<mat-form-field>
			<mat-label>Gender</mat-label>
			<input matInput formControlName="gender" placeholder="gender">
		</mat-form-field><br/>
		</div>
		<mat-form-field>
			<mat-label>Email</mat-label>
			<input matInput formControlName="email" placeholder="email">
		</mat-form-field><br/>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field><br/>

	<div *ngIf="!loginPage" formGroupName="department">
		<mat-form-field>
			<mat-label>Role</mat-label>
			<input matInput formControlName="role" placeholder="role">
		</mat-form-field><br/>
		<mat-form-field>
			<mat-label>Department Name</mat-label>
			<input matInput formControlName="name" placeholder="department name">
		</mat-form-field><br/>
	</div>
	</form>
    <br/>
		<button mat-raised-button color="primary" style="margin-right:5px;" (click)="loginUser()" *ngIf="loginPage">login</button>
		<button mat-raised-button color="primary" style="margin-right:5px;" (click)="registerUser()" *ngIf="!loginPage">register</button>
	</mat-card-content>
	<br/>
	<mat-label *ngIf="loginPage" (click)="loginPage = !loginPage">New User? Please Register here!</mat-label>
	<mat-label *ngIf="!loginPage" (click)="loginPage = !loginPage">Already Registered User? Please Login here!</mat-label>
</mat-card>